

@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Luckiest+Guy&display=swap');



html, body {
  width: 100%;
  max-width:100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
	display: grid;
	position: relative;
	min-block-size: 100vh;
	background-color: black;
	max-width:100%;
	color:white;
	
	transform-style: preserve-3d;
}



/*
 section{
	 
	 width:100%;
	 
 }

.div-mae{
	
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	max-height: 100vh;
	
}

section{
	
	height: -webkit-fill-available; height: fill-available;
	width:100vw;
	max-height:100vh;
	scroll-snap-align:center;
	
	animation:rolagem linear;
	animation-timeline: view();
	animation-range: entry 0% cover 40%;
	
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	
}

@keyframes rolagem{
	
	from{
		opacity:0;
		scale:0.5;
		
	}
	to{
		opacity:1;
		scale:1;
	}
}

*/

.footer{
	
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: #E4F1FA;
	
	
	
	width:100%;
	height:200px;
	margin-bottom:0;
	
}

.footer h2, .footer h3{
	color: white;
	font-family: "Luckiest Guy", cursive;
	font-weight: normal;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #983B3E;
	stroke-linejoin: round; 
	text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	
	text-align: center;
	
}

.texto-estilizado-persona{
	
	color: white;
	font-family: "Garamond", sans-serif;
	font-weight: bold;
	stroke: black;
	stroke-width: 2px;
	stroke-linejoin: round; 
	text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	text-align: justify;
}

h1{
	
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
	
	text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	text-align: justify;
	font-size: 40px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #983B3E;
	color:white;
	
	
}

.div-titulos-secao{
	
	background-color:#E4F1FA;
	width: 100%;
	justify-content: center;
	border-bottom: 3px solid white;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	border-top: 3px solid white;
	z-index:2;
	-webkit-mask-image: radial-gradient(circle, white 30%, transparent 95%);
	mask-image: radial-gradient(circle, white 30%, transparent 95%);
}

.estrela-borda {
  width: 50px;
  height: 50px;
  background-color: #BD080E; 
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease;
  
}
.estrela-dentro {
  width: 90%; 
  height: 90%;
  background-color: gold; 
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.estrela-esquerda:hover{
	
	transform: rotate(-180deg);
	background-color: yellow; 
}

.estrela-direita:hover{
	
	transform: rotate(180deg);
	background-color: yellow; 
}

.flexbox-row{
	
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items:center;
	
}

.flexbox-coluna {
	display: flex;
	flex-direction: column; 
	gap: -10px;
	align-items:center;
}

.menu{
	
	background-color:pink;
	width:100%;
	max-width:100%;
	height: 50px;
	margin:0;
	justify-content: space-between;
	
}
.menu a{
	
	font-family: "Luckiest Guy", cursive;
	color:white;
	text-decoration: none;
	
	font-size: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight:bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #983B3E;
	
}

.menu a:hover{
	
	color:red;
	text-decoration: underline;
}
.links-menu{
	
	margin-right:1%;
}

.logo-menu{
	
	width:60px;
	height:30px;
	margin-left:1%;
}

.opening-gifs{
	
	position:relative;
	width:100%;
	margin:0;
	height:600px;
	z-index:0;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	
	background-image:url('opening.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	
	align-content:center;
	align-items: center;
	
	
}

.logo-opening{
	
	background-color:rgba(0, 0, 0, 0.5);
	width:35%;	
	border: 2px solid #fff;
	border-radius: 25%;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	cursor:pointer;

}

.logo-opening:hover{
	
	background-color:rgba(255, 255, 255, 255);
	transform:scale(1.2);
}

.seta-branca-logo{
	
	height:100px;
	transition: 0.3s;
	
}

.seta-branca-logo:hover{
	
	transform: translateY(15px);
}

.container-persona{
	
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	
}
/*#b8e2f4*/

.persona1{
	position:relative;
	background-image: radial-gradient(circle, transparent 70%, black 100%), linear-gradient(to left, gray  10%, black 90%);
	width:100%;
	
	
	
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	transition: 1s ease-in-out; 
	
	
}

.perfis{
	 width:10%;
	 align-items: center;   
	 gap: 20px;
	 margin:2rem;
}

.personagem-perfil{
	width: 100px;          
	height: 100px;          
	border-radius: 50%;     
	overflow: hidden;       
	display: inline-block;  
	border: 2px solid #fff; 
	transition:0.5s;
	background-color: white;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	cursor:pointer;
}


.personagem-perfil:hover{
	
	transform:scale(1.2);
	border: 2px solid gray; 
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 5, 0.3);
	
}

.personagem-perfil img {
  width: 100%;            
  height: 100%;           
  object-fit: cover;     
  object-position: top center; 
  opacity:70%;
  transition:0.5s;
}

.personagem-perfil img:hover{
	
	opacity:100%;
}

.personagem{
	
	position: relative;
	width:30%;
	height: 470px;
	mask-image: radial-gradient(circle, black 80%, transparent 90%);
	border-radius: 8px;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	transition: opacity 0.5s ease-in-out; 
	opacity: 1;
	
}

.fade-out {
	opacity: 0;
}

.personagem2:hover{
	transform:scale(1.1);
}

.personagem2{	
	position: relative;
	opacity: 50%;
	width:30%;
	height: 370px;
	transition: transform  1s;
	mask-image: radial-gradient(circle, black 80%, transparent 90%);
	border-radius: 8px;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}


@property --y{
	
	syntax: "<number>";
	inherits: false;
	initial-value: -10;
	
}

/* PETALAS*/

.snowfall.iniciar-animacao, .snowfall.iniciar-animacao::before, .snowfall.iniciar-animacao::after {
        opacity: 1;
        animation: snowfall 10s linear infinite, wind 10s ease-in-out infinite alternate;
    }

.snowfall, .snowfall::before, .snowfall::after{
	
	position: absolute;
	inset: 0;
	content: '';
	overflow: hidden;
	pointer-events: none;
	z-index:1;
	
	background-image:
		radial-gradient(
			10px 6px at 5% calc(var(--y) * 1px),
			#ff4d6d 60%, #c9184a 90%, transparent 6px
		),
		radial-gradient(
			6px 9px at 65% calc(var(--y) * 1.3px),
			#ff758f 50%, #ff4d6d 90%, transparent 3px
		),
		radial-gradient(
			12px 8px at 85% calc(var(--y) * 0.9px),
			#ff8fa3 40%, #ff527b 90%, transparent 8px
		);
	
}

.snowfall{
	
	background-size: 65% 100%;
	height:565px;
	
}

.snowfall::before{
	
	inset: -4rem 0 0;
	opacity: 0.7;
	background-size: 45% 100%;
	
	
}

.snowfall::after{
	
	inset: -8rem 0 0;
	opacity: 0.8;
	background-size: 32% 100%;

	
	
}

@keyframes snowfall{
	
	
	0%{
		--y: -20;
		
	}
	50%{
		opacity:0.5;
	}
	100% {
		
		--y:800;
		opacity:0;
	}
	
}

@keyframes wind {
	50% {
		translate:200px;
	}
}

/* Brilhos verdes*/


.Verde.iniciar-animacao, .Verde.iniciar-animacao::before, .Verde.iniciar-animacao::after {
        opacity: 1;
        animation: snowfall 6s linear infinite;
    }

.Verde, .Verde::before, .Verde::after{
	
	position: absolute;
	inset: 0;
	content: '';
	overflow: hidden;
	pointer-events: none;
	
	background-image:
		radial-gradient(
			10px 10px at 5% calc(var(--y) * 1px),
			#52F6F6 60%, white 90%, transparent 6px
		),
		radial-gradient(
			6px 6px at 65% calc(var(--y) * 1.3px),
			white 50%, #52F6F6 90%, transparent 3px
		),
		radial-gradient(
			8px 8px at 85% calc(var(--y) * 0.9px),
			white 40%, #52F6F6 90%, transparent 8px
		);
		
	
}

.Verde{
	
	background-size: 65% 100%;
	height: 565px;
	
}

.Verde::before{
	
	inset: -4rem 0 0;
	opacity: 0.7;
	background-size: 45% 100%;
	
	
}

.Verde::after{
	
	inset: -8rem 0 0;
	opacity: 0.8;
	background-size: 32% 100%;
	
	
}


/* Brilhos laranjas*/


.Laranja.iniciar-animacao, .Laranja.iniciar-animacao::before, .Laranja.iniciar-animacao::after {
        opacity: 1;
        animation: snowfall 6s linear infinite;
    }

.Laranja, .Laranja::before, .Laranja::after{
	
	position: absolute;
	inset: 0;
	content: '';
	overflow: hidden;
	pointer-events: none;
	
	background-image:
		radial-gradient(
			10px 10px at 5% calc(var(--y) * 1px),
			#FFE346 60%, white 90%, transparent 6px
		),
		radial-gradient(
			6px 6px at 65% calc(var(--y) * 1.3px),
			white 50%, #FFE346 90%, transparent 3px
		),
		radial-gradient(
			8px 8px at 85% calc(var(--y) * 0.9px),
			white 40%, #FFE346 90%, transparent 8px
		);
		
	
}

.Laranja{
	
	background-size: 65% 100%;
	height: 565px;
	
}

.Laranja::before{
	
	inset: -4rem 0 0;
	opacity: 0.7;
	background-size: 45% 100%;
	
	
}

.Laranja::after{
	
	inset: -8rem 0 0;
	opacity: 0.8;
	background-size: 32% 100%;
	
	
}


/* Brilhos roxos*/


@keyframes roxo{
	
	
	0%{
		--y: 800;
		opacity:0;
		
	}
	20%{
		opacity:0.5;
		
	}
	100% {
		
		--y:-20;
	}
	
}

.Roxo.iniciar-animacao, .Roxo.iniciar-animacao::before, .Roxo.iniciar-animacao::after {
        opacity: 1;
        animation: roxo 6s linear infinite;
    }

.Roxo, .Roxo::before, .Roxo::after{
	
	position: absolute;
	inset: 0;
	content: '';
	overflow: hidden;
	pointer-events: none;
	
	background-image:
		radial-gradient(
			10px 10px at 5% calc(var(--y) * 1px),
			black 20%, #8930EE 90%, transparent 6px
		),
		radial-gradient(
			6px 6px at 65% calc(var(--y) * 1.3px),
			black 50%, #8930EE 90%, transparent 3px
		),
		radial-gradient(
			8px 8px at 85% calc(var(--y) * 0.9px),
			white 40%, #8930EE 90%, transparent 8px
		);
		
	
}

.Roxo{
	
	background-size: 65% 100%;
	height: 565px;
	
}

.Roxo::before{
	
	inset: -4rem 0 0;
	opacity: 0.7;
	background-size: 45% 100%;
	
	
}

.Roxo::after{
	
	inset: -8rem 0 0;
	opacity: 0.8;
	background-size: 32% 100%;
	
	
}

/*----------------------------------------FLIPBOOK-----------------*/
.flipbook-fundo{
	
	background-color:transparent;
	justify-content: center;
	width:100%;
	
	
	
}

.flipbook {
    width: 50%;
    height: 400px;
	
}


#hard1{
	
	background-image:linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.3) 100%), url('capa-livro2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

#hard2{
	
	background-image:
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2) 100%),
	radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(255,255,255,0.8) 100%), url('page1.png');
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center-left;
}

#page-img2{
	
	background-image:
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2) 100%),
	radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(255,255,255,0.8) 100%), url('page2.png');
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center-left;
}

#hard3{
	
	background-image:
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2) 100%),
	radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(255,255,255,0.8) 100%), url('page7.png');
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#hard4{
	
	background-image:
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.3) 100%),
	radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(255,255,255,0.8) 100%), url('capa-livro1.png');
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}




.flipbook .hard {
     
    color: #fff;
    border: none; 
}

/*.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 18px;
	color:black;
}*/

.flipbook .page {
    
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.page-left{
	
	background-color:white;
	background-image:
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2) 100%),
	linear-gradient(to left, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1) 100%);
	
}

.page-right{
	
	background-image:
	linear-gradient(to left, rgba(0,0,0,0) 80%, rgba(0,0,0,0.2) 100%),
	linear-gradient(to right, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1) 100%);
	background-color:white;
	
}

.page-img{
	
	object-fit: cover;
	margin: auto;
	height: 50%

	
}



.flipbook .page small{
	font-size:16px;
    margin-bottom: 10px;
	color:black;
	text-align: justify;
	margin: 5%;
}


/* ----------------------------- CDS ------------------------------*/


.container-cds{

	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: pink;
	transform-style: preserve-3d;
	
	width:100%;
	height:500px;
	
	-webkit-mask-image: radial-gradient(circle, white 30%, transparent 95%);
	mask-image: radial-gradient(circle, white 30%, transparent 95%);
	
}
.box{
	
	position: relative;
	width:10rem;
	height:10rem;
	transform-style: preserve-3d;
	transition:1.5s;
	transform: perspective(1000px) rotateY(0deg);
	
	background-color:transparent;
	margin-top:2%;
}
.box span{
	
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
	-webkit-box-reflect: 
	below 0px linear-gradient(transparent, transparent, black);
}
.box span .cover{
	
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	user-select: none;
}

.info-disco{
	
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	color:white;
	text-align:center;
}

.cover:hover{
	
	
	opacity:0.3;
	box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.5);
	
}

.tiraDisco{
	
	position:sticky;
	z-index:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:transparent;
	user-select: none;
	transition: 1s;
	object-fit:cover;
	
}

.tiraDisco-play{
	
	animation: sobe 1s ease-in-out forwards;
		
}

.tiraDisco-pause{
	
	animation: desce 1s ease-in-out forwards;
		
}

.disco-gira{
	
	object-fit:cover;
	width:100%;
	height:100%;
	
	
}

.disco-gira.play{
	
	animation:rodarDisco 5s linear infinite;
}

.disco-gira.pausado {
  animation-play-state: paused; 
}



@keyframes sobe {
	100% {
		transform:translateY(-70px);
	}
	
}

@keyframes desce {
	100% {
		transform:translateY(100px);
	}
	
}


@keyframes rodarDisco {
	
  from{
    transform: rotate(0deg);
  }
  
  to{
    transform: rotate(360deg);
  }
}

@keyframes pararRodarDisco {
	
  100%{
    transform: rotate(0deg);
  }
}	



.btns-audio{
	
	position:relative;
	
	display: flex;
	gap: 30px;
	background-color: transparent;
	width:100%;
	align-items:center;
	justify-content:center;

	
}

.btns-audio .btn-audio{
	
	position:relative;
	width:60px;
	height:60px;
	border: 2px solid white;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color: white;
	cursor: pointer;
	color:black;
	
	margin-top:1%;
		
}

.btns-audio .btn-audio:active{
	
	background-color:gray;
	
}

/*------------------CARTAS DE PERSONAGEMS---------------------*/

.container-card{
	
	position:relative;
	width:250px;
	height:320px;
	
	
}

.the-card{
	
	position:absolute;
	width:100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	border-radius: 25%;
	box-shadow: 5px 5px 15px 0px rgba(255, 255, 255, 0.3);
	
	
	
}
.the-card:hover{
	
	transform: rotateY(180deg);
}

.frente-card{
	
	position:absolute;
	display:flex;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:white;
	border: 2px solid gray;
	border-radius: 25%;
	align-items:center;
	align-content:center;
	justify-content:center;
	
	

	
	
	
}
.frente-card img{
	
	object-fit:cover;
	width:100%;
	height:100%;
	border-radius: 25%;
}

.tras-card{
	
	position:absolute;
	display:flex;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:white;
	border: 2px solid gray;
	border-radius: 25%;
	align-items:center;
	align-content:center;
	justify-content:center;
	
	
	
	transform: rotateY(180deg);
	
	
}

.tras-card img{
	
	object-fit:cover;
	width:100%;
	height:100%;
	border-radius: 25%;
	opacity:0.6;
	
}

/* ----------------- PHOTOS ---------------------------*/


.photo{
	
	position:relative;
	display:flex;
	width: 200px;
	height: 125px;
	background-color: white;
	border: 2px solid gray;
	align-items:center;
	align-content:center;
	justify-content:center;
	
	transition: 0.5s ease-in-out;
	
}

.photo:hover{
	
	
	transform: rotate(15deg);
}

.photo img{
	
	display:flex;
	width: 175px;
	height: 100px;
	
	object-fit:cover;	
}



/* -------------------- MEDIA QUERIES ----------------------*/

@media only screen and (max-width: 800px) {
  .personagem2{
	  
	  width:1px;
	  height:1px;
	  
  }
  
  #page-img2{
	  
	  background-position: center-right;
	  
  }
  
  .flipbook .page small{
	font-size:12px;
    margin-bottom: 10px;
	color:black;
	text-align: justify;
	margin: 5%;
}
}



